<!-- Page Content -->
<div class="container post-container">
 <div class="row">
      <%= image_tag @post.image, class: 'post-photo' %>
    <div class="col-md-12">
      <h1 class="page-header"><%= @post.title %></h1>
      <p class="post-text"><%= @post.body %></p>
      <p> Author: <%= @post.author.fullname %></p>
    </div>
  </div>
  <%= render 'comments' %>
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Related Posts</h3>
  </div>
  <% @posts.each do |post| %>
    <div class="col-sm-3 col-xs-6">
      <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: 'img-responsive portfolio-item' %>
  <% end %>
    </div>
  <% end %>
</div>
</div>