<% content_for :head do %>
  <%= tag :meta, property:"og:type", content:'website' %>
  <%= tag :meta, property:"og:title", content: @post.title %>
  <%= tag :meta, property:"og:image", content: request.protocol + request.host_with_port + image_path( @post.image.url) %>
<% end %>
<div class="post-photo" style='background: url("<%= @post.image.url %>");background-repeat:repeat-x;background-position: top center;background-attachment: fixed;background-size: cover;'>
</div>
<div class="container post-container">
    <div class="col-md-12">
      <h1><%= @post.title %></h1>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>
        <i><%= @post.author.name %></i>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <i><%= @post.created_at.strftime("%B %d, %Y") %></i>
      </p>
      <p class="post-text"><%= @post.body.html_safe %></p>
    </div>
  <%= render 'comments' %>
<div class="row">
  <div class="col-lg-12">
    <h3>Related Posts</h3>
  </div>
  <% @posts.each do |post| %>
    <div class="col-sm-3 col-xs-6">
      <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: 'img-responsive portfolio-item' %>
  <% end %>
    </div>
  <% end %>
</div>
</div>